<div class="places">
	<h1 class="text-center">PLACES</h1>
	<ul class="nav nav-tabs navbar-left latest-navleft">
		<li role="presentation" class="li-sortby"><span class="sortby">							
				<a href="#" data-toggle="modal" data-target="#create" class="btn btn-primary">POST A NEW PLACE</a>
			    </li>
	</ul>
</div>
<br>
<br>
<%= render partial: 'places/index' %>

   <div id="create" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
              
       	<%= render 'places/new' %>
              
    </div>

<br>
<br>

