         <div class="modal-dialog modal-col-md-offset-2"> 
          <div class="modal-content">
            <div class="modal-header">

                <div class="modal-body">
                	              <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
              <h4 class="modal-title text-center">Places</h4>
            
<%= render 'places/form', place: @place %>
<%= link_to 'Back', places_path %>
 </div>
 </div>
</div>
</div>


	

